<body>
<div class="cl pd-5 bg-1 bk-gray">
		<!--<span class="l">

			<a class="btn btn-primary radius" href="{:Url('create')}">
				<i class="Hui-iconfont">&#xe600;</i> 添加小程序
			</a>
            <a class="btn btn-warning radius" href="{:Url('classification')}">
				<i class="Hui-iconfont">&#xe604;</i> 小程序分类
			</a>
            <a class="btn btn-secondary radius" href="{:Url('banner')}">
				<i class="Hui-iconfont">&#xe610;</i> 轮播banner
			</a>
            <a class="btn btn-secondary radius" href="{:Url('banner_create')}">
				<i class="Hui-iconfont">&#xe610;</i> 添加banner
			</a>
		</span>-->
		<span class="r">共有数据：<strong></strong> 条</span>
    </div>
<article class="page-container">
	 <form action="{:Url('save_class')}"  class="form form-horizontal" id="form-admin-add" method="post">

		<div class="row cl">
		<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>小程序分类名称：</label>
		<div class="formControls col-xs-8 col-sm-9">
            {if !empty($app_classname)}
                <input type="text" class="input-text" value="{$app_classname.app_classname}" placeholder="" id="appname" name="app_classname">
                <input type="hidden" name="app_class_id" id = "app_class_id" value="{$app_classname.id}">
            {else}
                <input type="text" class="input-text" value="" placeholder="" id="appname" name="app_classname">
                <input type="hidden" name="app_class_id" id = "app_class_id" value="">
            {/if}
		</div>
	</div>
<!--	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>appid：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="" placeholder="" id="appid" name="appid">
		</div>
	</div>
	 <div class="row cl">
		 <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>缩略图上传：</label>
		 <div class="formControls col-xs-8 col-sm-9">

			 &lt;!&ndash;<input type="file" class="input-text" placeholder="" name="thumb" id="thumb">&ndash;&gt;

			 <div style="border: 1px solid #ddd;width: 200px;height: 150px;margin: 10px 0px;">
				 <div  style="width: 190px;height: 140px;margin:5px 0 0 5px;background:url('/static/admin/static/h-ui.admin/images/noimage.jpg') no-repeat ;background-size:190px 140px;">
					 <img src="" id="imgId"  video-time="" style="width: 190px;height: 140px;" alt="" />
				 </div>

			 </div>
			 <div class="uploader-thum-container">
				 <div class="fileList" class="uploader-list"></div>
				 <span class="btn-upload form-group">
					<a href="javascript:;" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>

					<input type="file"  name="thumb" id="img" class="input-file" >
				</span>
			 </div>

		 </div>
	 </div>

	 <div class="row cl">
		 <label class="form-label col-xs-4 col-sm-2">上传说明：</label>
		 <div class="formControls col-xs-8 col-sm-9" style="margin-top: 3px;color: red">缩略图大小限制100K，超过该尺寸可能导致上传失败！</div>

	 </div>-->

	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
			 <input name="" type="button" class="btn btn-success radius size-L submit" value="&nbsp;提&nbsp;&nbsp;&nbsp;&nbsp;交&nbsp;">
		</div>
	</div>
	</form>
</article>


<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/static/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/static/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
    $(".permission-list dt input:checkbox").click(function(){
        $(this).closest("dl").find("dd input:checkbox").prop("checked",$(this).prop("checked"));
    });
    $(".permission-list2 dd input:checkbox").click(function(){
        var l =$(this).parent().parent().find("input:checked").length;
        var l2=$(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
        if($(this).prop("checked")){
            $(this).closest("dl").find("dt input:checkbox").prop("checked",true);
            $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",true);
        }
        else{
            if(l==0){
                $(this).closest("dl").find("dt input:checkbox").prop("checked",false);
            }
            if(l2==0){
                $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",false);
            }
        }
    });

    // $("#form-admin-role-add").validate({
    //     rules:{
    //         roleName:{
    //             required:true,
    //         },
    //     },
    //     onkeyup:false,
    //     focusCleanup:true,
    //     success:"valid",
    //     submitHandler:function(form){
    //         $(form).ajaxSubmit();
    //         var index = parent.layer.getFrameIndex(window.name);
    //         parent.layer.close(index);
    //     }
    // });
});






//预览缩略图
var imgFilesId = document.getElementById('img');//获取缩略图id
var imgId = document.getElementById('imgId');//获取缩略图id

var selectImgFile = function () {
    imgId.src = getFileURL(this.files[0]);//把当前的 files[0] 传进去

}

// imgFilesId.addEventListener('change', selectImgFile);

function getFileURL(file) {
    var getUrl = null;
    if(!file){
        return '';
    }

    if (window.createObjectURL != undefined) { // basic
        getUrl = window.createObjectURL(file);
    } else if (window.URL != undefined) { // mozilla(firefox)
        getUrl = window.URL.createObjectURL(file);
    } else if (window.webkitURL != undefined) { // webkit or chrome
        getUrl = window.webkitURL.createObjectURL(file);
    }
    return getUrl;
}


// /*有图片文件的ajax提交*/
// $("#form-admin-add").submit(function(){
//     //表单序列化
//     //var data = $("form").serialize();
//     //aja提交图片文件
//     var formData = new FormData($('#form-admin-add')[0]);
//     $.ajax({
//         type:"post",
//         url: "{:Url('save')}",
//         data:formData,
//         dataType:'json',
//         processData:false,
//         contentType:false,
//         cache: false,addEventListener
//         async:true,
//         success:function(data){
//             console.log(data)
//
//             if(data.code==0){
//                 layer.msg(data.msg, {icon: 6,time:1000});
//             }
//             if(data.code == 1){
//                 layer.msg(data.msg,{icon:1,time:1000});
//                 setTimeout(function () {
//                     window.location.href=('{:Url("index")}');
//                 } ,1000);
//             }
//         }
//
//     })
//     return false;
// });

    $(".submit").click(function () {
        var appname = $("#appname").val()
        var app_class_id = $("#app_class_id").val()
        $.ajax({
            type:"post",
            url: "{:Url('save_class')}",
            data:{appname:appname,app_class_id:app_class_id},
            success:function(data){
                // console.log(data)

                if(data.code==0){
                    layer.msg(data.msg, {icon: 6,time:1000});
                }
                if(data.code == 1){
                    layer.msg(data.msg,{icon:1,time:1000});
                    setTimeout(function () {
                        window.location.href=('{:Url("classification")}');
                    } ,1000);
                }
            }

        })
    })



</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>